.cart-section {
  margin: 10rem auto;
}
.loader-section {
  margin: 10rem 0rem;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.total {
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.apply-btn {
  padding: 0px 50px;
}
.input {
  padding-left: 20px;
}
.payment-section {
  margin-top: 40px;
}
.auth-section {
  width: 100%;
  margin: 15rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.operator-btn {
  padding: 0rem 1rem;
}
.operator-box {
  margin-right: 10px;
}
.auth-box {
  .btn {
    padding: 10px 40px;
    margin-top: 1rem;
  }
}
