.footer {
  background-color: #162c36;
  margin-top: 100px;
  padding: 32px 52px;
  .footer-top-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .left-side {
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 50%;
      img {
        width: 200px;
      }
      span {
        font-size: 18px;
        color: #f9fafb;
      }
    }
    .right-side {
      display: flex;
      justify-content: space-between;
      gap: 20px;
      width: 50%;
      ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
        li {
          color: #f9fafb;
          cursor: pointer;
        }
        li:first-child {
          font-weight: bold;
        }
      }
    }
  }
  .footer-bottom-section {
    display: flex;
    justify-content: space-between;
    color: #f9fafb;
    margin-top: 2rem !important;
    align-items: center;
    span {
      font-size: 20px;
    }
    .footer-bottom-list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
    }
  }
}

@media (max-width: 768px) {
  .left-side {
    width: 100% !important;
    margin-bottom: 20px;
  }
  .right-side {
    width: 100% !important;
  }
  li {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  footer {
    padding: 10px !important;
    .left-side {
      span {
        font-size: 15px !important;
      }
    }
    li {
      font-size: 10px !important;
    }
    .footer-bottom-section {
      align-items: center;
      span {
        font-size: 12px !important;
      }
    }
  }
}
