.reset-password-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15rem auto;
  .form-box {
    padding: 5%;
  }
  .input {
    padding-left: 40px;
  }
  .btn {
    margin-top: 20px;
  }
}
