main {
  background-color: #ffffff;
  /* background: linear-gradient(to right, #b0d3c6, #f8d7a4); --> frame fon rengi */
}

.hero {
  width: 100%;
  height: 433px;
  margin-bottom: 2rem;
  position: relative;
  transition: all 0.2s ease;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: all 0.2s ease;
  }
  .overlay {
    position: absolute;
    width: 100%;
    height: inherit;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.72);
    transition: all 0.2s ease;
    h2 {
      margin-top: 3.5rem;
      color: #f9fafb;
      font-size: 64px;
      font-weight: 700;
      text-align: center;
      transition: all 0.2s ease;
    }
    .overlay-btn {
      background-color: #daf1f3;
      padding: 5px;
      border: none;
      border-radius: 5px;
      color: "#284551";
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 16px;
      padding: 14px 24px;
      cursor: pointer;
      transition: 0.2s ease;
      gap: 10px;
    }
    .overlay-btn:hover .arrow-icon {
      transform: rotate(45deg);
    }
    .arrow-icon {
      transition: 0.2s ease;
    }
    .overlay-btn:hover {
      padding: 14px 30px;
      transition: all 0.2s ease;
    }
    .overlay-list {
      display: flex;
      color: #f9fafb;
      gap: 50px;
      margin: 10px 0;
      font-size: 23px;
      font-weight: 700;
      width: 100%;
      justify-content: center;
      flex-wrap: wrap;
      transition: all 0.2s ease;
      li {
        list-style-type: disc;
        transition: all 0.2s ease;
      }
    }
  }
}

.home-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 1560px;
  margin: 0 auto;
}

/* hero sectio */

@media (max-width: 960px) {
  .hero-heading {
    font-size: 3rem !important;
  }
}
@media (max-width: 768px) {
  .hero-heading {
    font-size: 2rem !important;
  }
  .home-section {
    width: 90% !important;
  }
  .product-price {
    font-size: 15px !important;
  }
}
