.navbar-section {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 5;
  transition: all 0.2s ease;
  box-shadow: 0px 2px 4px 0px rgba(33, 33, 33, 0.22);
  .navbar {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.2s ease;
    .left-side {
      display: flex;
      align-items: center;
      gap: 30px;
      transition: all 0.2s ease;
      .logo {
        height: 100%;
        transition: all 0.2s ease;
        cursor: pointer;
      }
    }
    .right-side {
      justify-content: end;
      display: flex;
      align-items: center;
      gap: 20px;
      transition: all 0.2s ease;
      .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: max-content;
        max-width: 100%;
        padding: 17px 17px;
        font-size: 15px;
        font-weight: 600;
        border-radius: 4px;
        cursor: pointer;
        transition: all 0.2s ease;
      }
      .primary-btn {
        background-color: transparent;
        color: #daf1f3;
        border: 1px solid #daf1f3;
        transition: all 0.2s ease;
      }
      .first-btn {
        border: none;
        background-color: #ebf8f9;
        color: #162c36;
        transition: all 0.2s ease;
      }
      .burger-menu {
        display: none;
      }
      .menu-list {
        display: flex;
        align-items: center;
        gap: 20px;
        transition: all 0.2s ease;
        li {
          position: relative;
          transition: all 0.2s ease;
          .icon {
            cursor: pointer;
          }
        }
        li .nav-link {
          text-decoration: none;
          color: #2d2e2e;
          font-size: 16px;
          font-weight: 600;
          transition: all 0.2s ease;
        }
        li .nav-link::after {
          content: "";
          position: absolute;
          left: 0%;
          bottom: 1px;
          width: 0;
          height: 2px;
          background-color: #3a4f39;
          transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
        }

        li .nav-link:hover::after {
          width: 100%;
          left: 0;
        }
        li .active::after {
          width: 100%;
          background-color: #3a4f39;
        }
      }
    }
    .burger-menu-list {
      display: none;
    }
    .profile-list {
      padding-left: 40px;
      padding-top: 20px;
      li {
        list-style: disc;
      }
    }
    .search-product {
      margin-top: 0.5rem;
      padding: 1rem;
      background-color: rgba(33, 33, 33, 0.8);
      .product-box {
        margin-bottom: 1rem;
      }
    }
    input[type="search"]::-webkit-search-decoration,
    input[type="search"]::-webkit-search-cancel-button,
    input[type="search"]::-webkit-search-results-button,
    input[type="search"]::-webkit-search-results-decoration {
      -webkit-appearance: none;
    }
  }
}

@media (max-width: 1024px) {
  .menu-list {
    display: none !important;
  }
  .burger-menu {
    display: block !important;
  }
  .burger-menu-list {
    display: flex !important;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 450px;
    position: absolute;
    padding-left: 20px;
    padding-top: 50px;
    top: 100%;
    z-index: 1;
    right: 0;
    background: #284551;
    gap: 20px;
    .burger-menu-list-item {
      display: flex;
      gap: 20px;
      flex-direction: column;
      li {
        position: relative;
        cursor: pointer;
      }
      li .nav-link {
        text-decoration: none;
        color: #2d2e2e;
        font-size: 16px;
        font-weight: 600;
      }
      li .nav-link::after {
        content: "";
        position: absolute;
        left: 0%;
        bottom: 1px;
        width: 0;
        height: 2px;
        background-color: #3a4f39;
        transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
      }

      li .nav-link:hover::after {
        width: 100%;
        left: 0;
      }
      li .active::after {
        width: 100%;
        background-color: #3a4f39;
      }
    }
    .btn {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  .right-side {
    justify-content: end;
    .btn {
      display: none !important;
    }
  }
  .burger-menu-list {
    overflow: auto !important;
    .btn {
      border: 1px solid #3a4f39;
      display: flex;
      justify-content: center;
      align-items: center;
      width: max-content;
      max-width: 100%;
      padding: 17px 17px;
      font-size: 15px;
      font-weight: 600;
      border-radius: 4px;
      cursor: pointer;
    }
    .primary-btn {
      background-color: #3a4f39;
      color: white;
      transition: 0.4s ease-in;
    }
    .first-btn {
      background-color: white;
      color: #3a4f39;
      transition: 0.4s ease-in;
    }
  }
  .navbar {
    width: 90% !important;
  }
}

@media (max-width: 640px) {
  .burger-menu-list {
    .btn {
      width: 90%;
    }
  }
}
