.partner-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
  width: 100%;
  background: linear-gradient(
    60deg,
    rgba(214, 105, 105, 0.4) 30%,
    rgba(27, 140, 19, 0.3) 47%,
    rgba(137, 205, 215, 0.4) 69%
  );
  .container {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    height: 284px;
    h3 {
      font-size: 30px;
      font-weight: 500;
      color: #333e47;
      font-family: "McLaren", sans-serif;
    }
    .partner-images {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      gap: 50px;
      img {
        width: 70px;
        height: 70px;
      }
    }
  }
}
