.wishlist-section {
  width: 100%;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  .wishlist-box {
    display: flex;
    width: 80%;
    flex-direction: column;
    .wishlist-heading {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      h3 {
        font-size: 30px;
        color: #2c6272;
        font-weight: 500;
      }
    }
    .viewed-heading {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      h3 {
        font-size: 30px;
        color: #2c6272;
        font-weight: 500;
      }
    }
  }
}
